#navbar {
  background-color: #f4f4f4;
}
#navbar ul li {
  list-style-type: none;
  display: inline-block;
  text-align: right;
}
#navbar a {
  color: #1e1e1e;
  text-decoration: none;
}
#navbar h1 {
  color: #1e1e1e;
}
body {
  background-color: #1e1e1e;
}
#about > header {
  color: #f4f4f4;
}
#about > p {
  color: #f4f4f4;
}
