#main-title {
  color: green;
}

p {
  font-size: 18px;
}

.animals > ul {
  list-style-type: circle;
}

.animals > ul li:first-child {
  font-weight: bold;
}

.highlight {
  background-color: yellow;
}

.intro {
  font-style: italic;
}

.animals > ul li:nth-child(even) {
  background-color: lightgray;
}

footer p {
  border: solid red;
}

.animals > ul:first-of-type li::before {
  content: "🐒 ";
}
